<section class="container animate__animated animate__fadeIn">
    <article>
        <span class="spantitle">Acerca de </span>
        <hr>
    </article>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi accusantium veritatis officia natus officiis
            perspiciatis omnis repudiandae, ex, totam quidem, quod tempore ipsum mollitia nam. Molestias culpa molestiae
            necessitatibus repudiandae deleniti quo autem rem ullam rerum, modi tenetur velit doloremque. Placeat, nisi,
            suscipit aliquid voluptates quibusdam sunt, commodi autem soluta accusantium vitae cumque neque? Optio
            aliquam dolorum neque in tempora, minus eaque maxime rerum similique ab reiciendis dolores beatae nobis odit
            aut quas mollitia sit, aspernatur, fugit laborum dolore. Expedita aut ullam praesentium sunt autem iure
            vitae quidem quos, quia cumque mollitia nam porro nihil, eum eos debitis, esse saepe.</p>
    </section>


    <article>
        <span class="spantitle">Ubicación</span>
        <hr>
    </article>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati accusantium ipsum corporis sed porro
            debitis natus, perspiciatis sit iusto praesentium.</p>
        <section>
            <img width="100%" style="margin: auto;" height="150px" src="/assets/img/noimg.png" alt="">
        </section>
    </section>

</section>